<div>
  <h2 class="border-b-2 font-semibold pb-0.5">Languages</h2>
  <ul class="pt-0.5 font-mono">
    <li class="grid grid-cols-2">
      <span>German</span>
      <span class="pt-0.5">
        <p class="sr-only">Native language</p>
        <progress
          class="[&::-webkit-progress-bar]:rounded-lg [&::-webkit-progress-value]:rounded-lg [&::-webkit-progress-value]:bg-violet-500 [&::-moz-progress-bar]:bg-violet-500"
          max="100"
          value="100"
          aria-hidden="true">
        </progress>
      </span>
    </li>
    <li class="grid grid-cols-2">
      <span>English</span>
      <span class="pt-0.5">
        <p class="sr-only">Business fluent skills</p>
        <progress
          class="self-center [&::-webkit-progress-bar]:rounded-lg [&::-webkit-progress-value]:rounded-lg [&::-webkit-progress-value]:bg-violet-500 [&::-moz-progress-bar]:bg-violet-500"
          max="100"
          value="80"
          aria-hidden="true">
        </progress>
      </span>
    </li>
  </ul>
</div>
